html, body {
  height: 100%;
  color: #484848;
  font-size: 16px; }

* {
  box-sizing: border-box; }

h3 {
  color: #25292d;
  font-size: 21px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 0 0 10px; }

ul {
  list-style-type: none;
  margin: 0px;
  padding-left: 0px; }

.inline-list li {
  padding: 0px 10px;
  display: inline-block; }

.lead {
  font-weight: 200;
  line-height: 30px;
  font-size: 1.30em; }

.dev-icon {
  font-size: 1.56em;
  margin-right: 8px; }

.content {
  padding: 20px;
  margin: 0 auto; }

.contain {
  max-width: 1400px;
  margin: 0 auto; }

.row {
  margin-bottom: 15px; }
  .row:after {
    content: '';
    clear: both;
    display: block; }

.row > div {
  padding: 8px;
  float: left; }

@media only screen and (min-width: 340px) {
  .row .col-sm-1 {
    width: 8.33333%; }
  .row .col-sm-2 {
    width: 16.66667%; }
  .row .col-sm-3 {
    width: 25%; }
  .row .col-sm-4 {
    width: 33.33333%; }
  .row .col-sm-5 {
    width: 41.66667%; }
  .row .col-sm-6 {
    width: 50%; }
  .row .col-sm-7 {
    width: 58.33333%; }
  .row .col-sm-8 {
    width: 66.66667%; }
  .row .col-sm-9 {
    width: 75%; }
  .row .col-sm-10 {
    width: 83.33333%; }
  .row .col-sm-11 {
    width: 91.66667%; }
  .row .col-sm-12 {
    width: 100%; } }

@media only screen and (min-width: 680px) {
  .row .col-md-1 {
    width: 8.33333%; }
  .row .col-md-2 {
    width: 16.66667%; }
  .row .col-md-3 {
    width: 25%; }
  .row .col-md-4 {
    width: 33.33333%; }
  .row .col-md-5 {
    width: 41.66667%; }
  .row .col-md-6 {
    width: 50%; }
  .row .col-md-7 {
    width: 58.33333%; }
  .row .col-md-8 {
    width: 66.66667%; }
  .row .col-md-9 {
    width: 75%; }
  .row .col-md-10 {
    width: 83.33333%; }
  .row .col-md-11 {
    width: 91.66667%; }
  .row .col-md-12 {
    width: 100%; } }

@media only screen and (min-width: 960px) {
  .row .col-wd-1 {
    width: 8.33333%; }
  .row .col-wd-2 {
    width: 16.66667%; }
  .row .col-wd-3 {
    width: 25%; }
  .row .col-wd-4 {
    width: 33.33333%; }
  .row .col-wd-5 {
    width: 41.66667%; }
  .row .col-wd-6 {
    width: 50%; }
  .row .col-wd-7 {
    width: 58.33333%; }
  .row .col-wd-8 {
    width: 66.66667%; }
  .row .col-wd-9 {
    width: 75%; }
  .row .col-wd-10 {
    width: 83.33333%; }
  .row .col-wd-11 {
    width: 91.66667%; }
  .row .col-wd-12 {
    width: 100%; } }

#top-bar {
  z-index: 999;
  color: #fff;
  padding: 1.5em;
  position: absolute;
  left: 0;
  right: 0;
  top: 0; }

#nav {
  display: none; }

.nav-toggle {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer; }

@media only screen and (min-width: 960px) {
  .nav-toggle {
    display: none; }
  #nav {
    display: block !important; }
  #top-bar {
    text-align: left; }
  .nav-wrap {
    text-align: right; }
  #nav li {
    display: inline-block;
    padding-left: .8em; } }

.header-wrap {
  background-color: #0f171b;
  height: 100%; }
  .header-wrap .header-inner-wrap {
    background-color: rgba(23, 23, 30, 0.9);
    height: 100%;
    position: relative;
    z-index: 0;
    text-align: center; }
    .header-wrap .header-inner-wrap #scroll-arrow {
      cursor: pointer;
      position: absolute;
      bottom: 20px;
      color: #cecece;
      display: inline-block;
      -webkit-animation-name: floating;
      -webkit-animation-duration: 3s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out; }

@-webkit-keyframes floating {
  from {
    -webkit-transform: translate(0, 0px); }
  50% {
    -webkit-transform: translate(0, 10px); }
  to {
    -webkit-transform: translate(0, 0px); } }
      .header-wrap .header-inner-wrap #scroll-arrow:hover {
        color: #fff; }
  .header-wrap.header-bg {
    background-image: url(/public/ac6eb15b4c7d74c360d3806ed1ca973f.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; }

@media only screen and (min-width: 680px) {
  .header-content {
    padding-top: 40px; } }

.header-content {
  text-align: center;
  color: #fff;
  width: 100%;
  position: absolute;
  height: 375px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 0px 40px; }

.social-link {
  color: #fff;
  background-position: center;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #e8e7e7;
  text-align: center;
  position: relative;
  padding: 15px;
  width: 64px;
  height: 64px;
  background-color: transparent;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px; }
  .social-link:after {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    content: '';
    background-color: #35464d;
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .social-link:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1; }

.page-title {
  text-transform: uppercase;
  color: #484848;
  text-align: center; }

.heading-panel-container {
  padding: 20px 0px;
  margin-bottom: 40px; }
  .heading-panel-container .page-title {
    margin: 20px 0px 10px 0px; }
  .heading-panel-container p {
    line-height: 29px;
    font-size: 1.25em;
    max-width: 600px;
    margin: auto auto 30px auto; }

.profilePic {
  max-width: 225px;
  max-height: 225px;
  margin: 0 auto;
  border-radius: 50%;
  display: block; }

@media only screen and (min-width: 960px) {
  .page-title {
    text-align: left; }
  .profilePic {
    float: right;
    display: inline;
    margin-left: 40px; } }

.developer-bg {
  color: #fff;
  text-align: center;
  background-color: #2a3545;
  background: radial-gradient(circle farthest-corner at 100% 100%, #2d2d3c, #24242f, #16161d); }
  .developer-bg .heading-panel-container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.13); }
  .developer-bg .page-title {
    text-align: center;
    color: #fff; }

.tool-box {
  text-align: left; }
  .tool-box h3 {
    color: #fff; }
  .tool-box li {
    padding-left: 15px;
    margin-bottom: 18px; }
  .tool-box li span {
    line-height: 25px;
    vertical-align: top; }
  .tool-box h3 {
    letter-spacing: 1px;
    font-size: 1.30em;
    margin-bottom: 10px; }

.book-list li {
  display: inline-block; }
  .book-list li img {
    max-width: 140px; }

@media only screen and (min-width: 960px) {
  .timeline-title {
    text-align: center; } }

#timeline {
  position: relative; }
  #timeline:before {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.38);
    width: 4px;
    height: 100%;
    left: 18px; }
  @media only screen and (min-width: 960px) {
    #timeline:before {
      left: 0;
      right: 0;
      margin: auto; }
    #timeline .timeline-block {
      padding: 0px; }
    #timeline .timeline-block:nth-child(even) {
      text-align: right; }
    #timeline .timeline-block:nth-child(odd) .timeline-content {
      float: right; } }

.timeline-block {
  position: relative;
  padding-left: 50px;
  margin: 8px 0px; }
  .timeline-block p {
    margin: 0px; }
  .timeline-block:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: auto;
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
  .timeline-block:after {
    content: '';
    display: block;
    clear: both; }
  @media only screen and (min-width: 960px) {
    .timeline-block:before {
      left: 0;
      right: 0;
      margin: auto; }
    .timeline-block .timeline-content {
      width: 47%; } }

.circle-bg, .pin-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0px; }

.pin {
  width: 40px;
  position: relative; }
  .pin.top-pin {
    padding-bottom: 10px; }
  .pin .circle-bg {
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.35); }
  .pin .pin-circle {
    background-color: #fff;
    width: 15px;
    height: 15px; }
  @media only screen and (min-width: 960px) {
    .pin {
      margin: 0 auto; } }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJzdHlsZS5jc3MiLCJzb3VyY2VSb290IjoiIn0=*/