html,body{
  height:100%;
}
*{
  box-sizing: border-box;
}

ul{
  list-style-type: none;
  margin:0px;
  padding-left: 0px;
}

.inline-list{
  li{

    padding:0px 10px;
    display:inline-block;
  }
}
