//temporary
.image-holder{
  background-color:#fff;
  border-radius:5px;
  // position:absolute;
  top:20px;
  height:600px;
  width:720px;
  margin:auto;
  right:0;
  left:0;
}

html,body{
  height:100%;
  color:#484848;
  font-size: 16px;
}
*{
  box-sizing: border-box;
}
h3{
  color: #25292d;
  font-size: 21px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 0 0 10px;
}
a{
  text-decoration: none;
}
ul{
  list-style-type: none;
  margin:0px;
  padding-left: 0px;
}

.inline-list{
  li{

    padding:0px 10px;
    display:inline-block;
  }
}

.lead{
  font-weight:200;
  line-height:30px;
  font-size:1.30em;
}

.dev-icon{
    font-size: 1.56em;
    margin-right:8px;
}

.content{
  padding:20px;
  margin:0 auto;
}

.contain{
  max-width:1400px;
  margin: 0 auto;
}
