.btn{
  display: inline-block;
  padding:10px;
  background-color:#ccc;
  color:#000;
  font-size:1.2em;
  margin-bottom:20px;
  &.md{
    font-size:1.4em;
    padding:15px;
  }
  &.round{
    @include border-radius(5px);
  }
  &.green{
    color:$white;
    background-color: #21b949;
    background: #b4ef47; /* Old browsers */
    background: -moz-linear-gradient(top,  #b4ef47 0%, #9bf948 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #b4ef47 0%,#9bf948 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #b4ef47 0%,#9bf948 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ef47', endColorstr='#9bf948',GradientType=0 ); /* IE6-9 */

  }
  &.dark-gray{
    color:#fff;
    background-color: #0f171b;
  }
}
