
#row{
  &:after{
    content: '';
    clear: both;
    display: block;
  }
  margin-bottom:15px;
}


@include desktop{
  #row > div{
    float: left;
  }

  // grid size
  $max: 12;

  @for $i from 1 through $max{
    $equ: 100% / $i;
      #row.cell-#{$i} > div{
        width:$equ;
      }
    // end of loop
  }
// end of include desktop
}
