#top-bar{
  z-index:999;
  color:$white;
  padding:1.5em;
  position:fixed;
  left:0;
  right:0;
  top:0;
  @include transition(background 300ms ease-in-out);
  @include transition(padding 300ms ease-in-out);
  .row{
      margin:0px;
  }
}

.logo{
  font-size:.8em;
  margin:0px;
  display: inline;
  a{
    color:#fff;
  }
}

.nav-toggle{
  display:inline;
  float: right;
    cursor: pointer;
}

#nav{
    position: fixed;
    left:-100%;
    top:0;
    bottom:0;
    width: 100%;
    background-color:#18161d;
    @include transition(left 600ms ease-in-out);
    ul{
      display: inline;
    }
    li {
      border-bottom: 1px solid #000;
      border-top: 1px solid #201e25;
      &:last-child{
        border-bottom:0px;
      }
      &:first-child{
        border-top:0px;
      }
      a{
        padding:1em;
        color:#fff;
        display: block;
        text-transform: uppercase;
        text-decoration:none;
          &:hover{
            background-color:rgb(29, 27, 33);
          }
          @include desktop{
            &:hover{
              background-color:transparent;
            }
          }
      }
    }
  }
.side-nav-icon{
  color:#e28634;
}

.close-side {
    text-align: right;
    background-color: rgb(193, 56, 56);
    .fa{
      cursor: pointer;
      background-color: #a52222;
      padding: 10px;
    }
    @include desktop{
      display: none;
    }
}

  @include tablet{
      #nav{
      max-width:34%;
    }
  }
  @include desktop{
    #nav{
      position:static;
      background-color:transparent;
      width:100%;
      display: inline;
      li{
        display: inline-block;
        border:0px;
        a{
          padding:0 0 0 .8em;
        }
      }
    }
    .nav-toggle{
      display: none;
    }
    .nav-wrap{
      text-align:right;
    }
  }

//fillter, background-image for header
.header-wrap{
  background-color:$header;
  height:100%;
    .header-inner-wrap{
      // background-color: rgba(21, 24, 25, 0.93);
      // background-color: rgba(20, 19, 31, 0.95);
      background-color: rgba(23, 23, 30, 0.9);
      height:100%;
      position:relative;
      z-index:0;
      text-align: center;

      #scroll-arrow{
        cursor: pointer;
        position:absolute;
        bottom:20px;
        color:#cecece;
        display: inline-block;
        -webkit-animation:floating 3s infinite ease-in-out;
        margin-left: -15px;
        @-webkit-keyframes floating{
          from{-webkit-transform:translate(0, 0px);}
          50%{-webkit-transform:translate(0, 10px);}
          to{-webkit-transform:translate(0,-0px);}
        }
        // @include transition(all 400ms ease-in-out)
        &:hover{
          //  bottom:10px;
           color:#fff;
          // color:#35464d;
        }
      }

    }
    &.header-bg{
      background-image: url("../public/images/headerBg.jpg");
      background-size:cover;
      background-position: center;
      background-attachment: fixed;
    }
}
@include tablet{
  .header-content{
    padding-top: 40px;
  }
};
.header-content{
  text-align: center;
  color:$white;
  width:100%;
  position:absolute;
  height: 375px;
  top:0;
  bottom:0;
  margin: auto;
  padding:0px 40px;
}

.social-link {
    color:#fff;
    background-position:center;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #e8e7e7;
    text-align: center;
    position:relative;
    padding:15px;
    width:64px;
    height:64px;
    background-color:transparent;
    @include border-radius(100px);

    &:after{
      @include transition(all 300ms ease-in-out);
      @include scale(0.1);
      content: '';
      background-color:#35464d;
      position: absolute;
      border-radius: 50%;
      opacity: 0;
      z-index:-1;
      top:0;
      left:0;
      right:0;
      bottom:0;
    }

    &:hover:after{
      @include scale(1);
      opacity:1;
    }

}
