#top-bar{
  position: relative;
  z-index:99;
  color:$white;
  background-color: $whiteTransparent;
}
.header-wrap{
    &.header-bg{
      background-image: url("../public/images/headerBg.jpg");
      background-size:cover;
    }
  background-color:$header;
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  text-align: center;
}
.header-content{
  color:$white;
  height:200px;
  width:100%;
  top:0;
  bottom:0;
  margin: auto;
  position: absolute;
}
