$desktopBreak: 750px;
$phoneBreak: 480px;
$tablet: 750px;

@mixin desktop{
  @media only screen and (min-width:$desktopBreak){
    @content
  }
};

@mixin phone{
  @media only screen and (max-width:$phoneBreak){
    @content
  }
};

@mixin tablet{
  @media only screen and (max-width:$tablet){
    @content
  }
};

@mixin transform($transform){
  -webkit-transform:$transform;
  -moz-transform:$transform;
  -ms-transform:$transform;
  -o-transform:$transform;
  transform:$transform;
}


@mixin border-radius($radius) {
    -webkit-border-radius:$radius;
    -moz-border-radius:$radius;
    -ms-border-radius:$radius;
    -o-border-radius:$radius;
    border-radius:$radius;
}

@mixin transition($value){
   -webkit-transition:$value;
   -moz-transition:$value;
   -ms-transition:$value;
   -o-transition:$value;
   transition:$value;
}

@mixin scale($value){
  @include transform(scale(#{$value}));
}
