.page-title{
  text-transform: uppercase;
  color:#484848;
  text-align: center;
}

.heading-panel-container{
    position:relative;
    z-index:999;
    padding:20px 0px;
    margin-bottom:40px;
    &.small{
      padding:0px;
      margin-bottom:0px;
    }
    .page-title{
      padding-top: 70px;
      margin:20px 0px 10px 0px;
    }
    p{
      line-height:29px;
      font-size: 1.25em;
      max-width:600px;
      margin: auto auto 30px auto;
    }
}

// about section

.profilePic{
  max-width: 225px;
  max-height: 225px;
  margin: 0 auto;
  border-radius: 50%;
  display: block;
}

@include desktop{
  .profilePic{
  float:right;
  display: inline;
  margin-left: 40px;
  }
  #about .page-title{
    text-align:left;
  }
}

// Developer section
.developer-bg{
  color:#fff;
  text-align:center;
  background-color: #2a3545;
  // background: radial-gradient(circle farthest-corner at 100% 100%, #46b4cd, #275a73, #18314a);
  // background: radial-gradient(circle farthest-corner at 100% 100%, #3c3956, #232133, #14121d);
  // background: radial-gradient(circle farthest-corner at 100% 100%, #556a8a, #3a485d, #2a3545);
  background: radial-gradient(circle farthest-corner at 100% 100%, #2d2d3c, #24242f, #16161d);
          .heading-panel-container{
      border-bottom: 1px solid rgba(255, 255, 255, 0.13);
    }
  .page-title{
    color:#fff;
  }
}

.tool-box{
  text-align: left;
  h3 {
    color:#fff;
  }
  li {
    display: inline-block;
    padding-left:15px;
    margin-bottom:18px;
  }
  @include tablet{
    li {
      display:block;
    }
  }
  li span{
    line-height:25px;
    vertical-align: top;
  }
  h3{
    letter-spacing: 1px;
    font-size: 1.30em;
    margin-bottom:10px;
  }
}


.book-list{
  li{
    display:inline-block;
    img{
      max-width:140px;
    }
  }
}


@include desktop{
  .timeline-title{
    text-align: center;;
  }
}
// timeline
#timeline{
  position:relative;
  &:before{
    content: '';
    position: absolute;
    background-color:rgba(255, 255, 255, 0.38);
    width:4px;
    height:100%;
    left:18px;
  }
  @include desktop{
    &:before{
      left:0;
      right:0;
      margin:auto;
    }
    .timeline-block{
      padding:0px;
    }
    .timeline-block:nth-child(even){
       text-align:right;

    }
    .timeline-block:nth-child(odd) .timeline-content{
       float:right;
    }
    // end desktop
  }
  // end timeline
}

.timeline-block{
  position: relative;
  padding-left: 50px;
  margin: 8px 0px;
  p{
    margin: 0px;
  }

  &:before{
    content:'';
    display: inline-block;
    width:10px;
    height:10px;
    margin:auto;
    position:absolute;
    left:15px;
    top:0;
    bottom: 0;
    background-color: #fff;
    @include border-radius(50%);
  }
  &:after{
    content:'';
    display: block;
    clear: both;
  }
  @include desktop{
    &:before{
      left:0;
      right:0;
      margin: auto;
    }
    .timeline-content{
        width:47%;
    }
  }
}

.circle-bg,.pin-circle{
  @include border-radius(50%);
  display: inline-block;
  position: absolute;
  margin: auto;
  left:0;
  right: 0;
  top: 0;
  bottom:0px;
}
.circle-bg{
    animation:pulse 3s infinite ease-in-out;
}

  @keyframes pulse{
    0%{opacity:.5;}
    50%{opacity:1;}
    100%{opacity:.5;}
  }

.pin{
  &.top-pin{
    padding-bottom:10px;
  }
  width:40px;
  position: relative;
  .circle-bg{
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.35);
  }
  .pin-circle{
    background-color: #fff;
    width: 14px;
    height: 14px;
  }
  @include desktop{
      margin:0 auto;
  }
}


// Resume section
#resume{
  position:relative;
  .heading-panel-container{
    background-color:$white;
  }
}

.codepen-link{
  letter-spacing: 3px;
}
