.content{
  padding:40px;
  max-width:1170px;
  margin:0 auto;
}

.page-title{
  text-transform: uppercase;
  color:#484848;
  text-align: center;
}

// about section

.profilePic{
  max-width: 225px;
  max-height: 225px;
  margin: 0 auto;
  border-radius: 50%;
  display: block;
}

@include desktop{
  .page-title{
    text-align: left;
  }
  .profilePic{
  float:right;
  display: inline;
  margin-left: 40px;
  }
}
